div.Projects {
  background-color: var(--color-complement-2);
}
div.Projects > .card {
  /* background-color: var(--color-complement-3); */
  border: .0125em solid var(--color-complement-4);
}
div.Projects .no-content > * {
  text-align: center;
}

div.Projects > h2 {
  text-align: center;
}

div#Projects > div#projects-grid {
  /* The projects should start with a default of one column */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-gap: 0.25em;
  max-width: 100%;
}
/*
    There is more room on mobile phones in landscape mode.
    lets program the grid to take advantage of the extra space
    
    48ems min-width targets tablets with the current font scheme
*/

@media (min-width: 12.5em) {
  div#Projects {
  }
}
/* this media query targets 320px in EMs */
@media (min-width: 20em) {
  div#Projects {
  }
}

/* this media query targets 375px in EMs */
@media (min-width: 23.4375em) {
  div#Projects {
  }
}
/* this media query targets 425px in EMs */
@media (min-width: 26.5625em) {
  div#Projects div#projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* this media query targets 768px in EMs */
@media (min-width: 48em) {
  div#Projects {
  }
}
/* this media query targets 1024px in EMs */
@media (min-width: 64em) {
  div#Projects {
  }
}
/* this media query targets 1440px in EMs */
@media (min-width: 90em) {
  div#Projects div#projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 160em) {
  div#Projects div#projects-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* @media  (orientation:landscape) and (min-width:72em) {
    div#Projects div#projects-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
} */

/* 
    The next target for grid-template-columns will be desktop resolutions
    find the breakpoint for 1440px
*/
@media (min-width: 160em) {
  div#Projects div#projects-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
